<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>供应商管理</title>

    <!--link标签一定要有rel="stylesheet"属性，否则无法加载到css样式-->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/js/jquery-easyui-1.2.6/themes/icon.css}"/>
    <link rel="stylesheet" th:href="@{/js/jquery-easyui-1.2.6/themes/default/easyui.css}"/>
    <!--引入easy-ui开发所需的js和css-->

    <!--jquery-1.7.2.min.js和jquery.easyui.min.js和easyui-lang-zh_CN.js这三个js文件有严格的先后顺序,不能交换位置,否则无法正常显示-->
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/jquery-1.7.2.min.js}"></script>

    <!--jquery.easyui.min.js文件一定要在jquery-1.7.2.min.js下,否则报错-->
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/jquery.easyui.min.js}"></script>

    <!--easyui-lang-zh_CN.js该js文件一定要在query.easyui.min.js下面，否则提示框无法正常显示中文-->
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/locale/easyui-lang-zh_CN.js}"></script>

    <script type="text/javascript" th:inline="none">

        //定义单元格
        var columns = [[
            {
                checkbox : true
            },{
                title : '企业名称',
                field : 'mc',
                width : 200,
                align : 'center'
            },{
                title : '企业联系人',
                field : 'lxr',
                width : 120,
                align : 'center'
            },{
                title : '联系人电话',
                field : 'dh',
                width : 130,
                align : 'center'
            },{
                title : '企业地址',
                field : 'addres',
                width : 250,
                align : 'center'
            },{
                title : '邮政编码',
                field : 'yzbm',
                width: 100,
                align : 'center'
            },{
                title : '法人名称',
                field : 'frmc',
                width: 100,
                align : 'center'
            },{
                title : '法人身份证',
                field : 'frsfz',
                width: 250,
                align : 'center'
            },{
                title : '企业注册资金',
                field : 'zczj',
                width: 150,
                align : 'center'
            },{
                title : '公司简介',
                field : 'jj',
                width: 250,
                align : 'center'
            }
        ]];

        //添加工具栏
        var toolbar = ['-',{
            text : '添加供应商',
            iconCls : 'icon-add',
            handler : addUserGYS
        },'-',{
            text : '删除供应商',
            iconCls : 'icon-cancel',
            handler : deleteUserGYS
        },'-',{
            text : '修改供应商',
            iconCls : 'icon-edit',
            handler : editUserGYS
        },'-',{
            text : '查询供应商',
            iconCls : 'icon-search',
            handler : searchUserGYS
        },'-'];
        //预加载
        $(function () {
           //使用datagrid加载供应商的信息列表
            $("#userGYSList").datagrid({
                idField : 'id',
                url : '/sys/usergyss',
                method : 'get',
                striped : true,
                pagination : true,
                rownumbers : true,
                pageList : [20,30,40],
                columns : columns
            });

            //加载省的列表信息
            $(".provinces").combobox({
                url : '/sys/provinces',
                valueField : "proId",
                textField : 'proName',
                onSelect : function (row) {
                    //清除区域下拉框中的值
                    $(".areas").combobox('clear');
                    //置区域下拉款中的值
                    $(".areas").combobox('reload','/sys/areas/0');
                    //得到选中的区域id
                    var pro_id = row.proId;
                    //加载该省下的所有城市
                    $(".citys").combobox({
                        url : '/sys/citys/'+pro_id,
                        valueField : "cityId",
                        textField : 'cityName',
                        onSelect : function (city) {
                            $(".areas").combobox('clear');
                            var city_id = city.cityId;
                            console.info("city_id:"+city_id);
                            //重新加载区域的列表]
                            var url  = '/sys/areas/'+city_id;
                            $(".areas").combobox('reload',url);
                        }
                    });
                }
            });


            // 给保存按钮绑定点击事件
            $(".saveUserGYS").click(function () {
                //判断当前打开的窗口
                if (userGYSWindow == "add"){
                    //当前窗口是添加窗口
                    //判断用户输入的表单数据是否合法
                    var f = $("#addUserGYSForm").form('validate');
                    if (!f){
                        return;
                    }
                    //得到表中中的数据
                    var data = $("#addUserGYSForm").serialize();
                    var provinces = $(".provinces").combobox('getText');
                    var citys = $(".citys").combobox('getText');
                    var areas = $(".areas").combobox('getText');
                    var addres = provinces+'省'+citys+'市'+areas;
                    // alert("data:"+data+"&addres="+addres);
                    //发送请求，把书添加到数据库
                    $.ajax({
                        url : '/sys/usergys_add',
                        type : 'post',
                        dataType : 'text',
                        data : data+"&addres="+addres,
                        success : function (result) {
                            //关闭窗口
                            $("#addUserGYSWindow").dialog('close');
                            //提示信息
                            showMsg(result);
                            //重新加载页面数据
                            $("#userGYSList").datagrid('reload');
                        },
                        error : function () {
                            $.messager.alert("提示信息",globalErrorMsg,'info');
                        }
                    });
                }

                if (userGYSWindow == "edit"){
                    //当前打开的是修改窗口
                    //判断输入的数据是否合法
                    var f = $("#editUserGYSForm").form('validate');
                    if (!f){
                        //输入的数据不合法
                        return;
                    }
                    //得到省、市、区的信息
                    var proName = $("#editProvinces").combobox('getText');
                    var cityName = $("#editCitys").combobox('getText');
                    var areaName = $("#editAreas").combobox('getText');
                    var addres = proName+"省"+cityName+"市"+areaName;
                    //得到表单中输入的数据
                    var data = $("#editUserGYSForm").serialize();

                    //发送请求更新数据
                    $.ajax({
                       url : '/sys/usergys_update',
                       type : 'put',
                       dataType : 'text',
                       data :data+"&addres="+addres,
                       success : function (result) {
                           //关闭修改窗口
                           $("#editUserGYSWindow").dialog('close');
                           //提示成功信息
                           showMsg(result);
                           //刷新供应商列表信息
                           $("#userGYSList").datagrid('reload');
                           //清除 选择的行
                           $("#userGYSList").datagrid('clearSelections');

                       } ,
                        error : function () {
                            $.messager.alert('提示信息',globalErrorMsg,'info');
                        }
                    });

                }
            });

            //给取消按钮绑定点击事件
            $(".cancelUserGYS").click(function () {
                //判断当前打开的窗口
                if (userGYSWindow == "add"){
                    //当前窗口是添加窗口,关闭添加窗口
                    $("#addUserGYSWindow").dialog('close');
                }
                //关闭修改窗口
                if (userGYSWindow == "edit"){
                    $("#editUserGYSWindow").dialog('close');
                }

            });


            //给查询窗口的清空查询条件绑定点击事件
            $("#clearSearch").click(function () {
               //清空表单中的数据
                $("#searchUserGYSForm").form('clear');
            });
            //给查询窗口的取消按钮绑定点击事件
            $("#cancelSearch").click(function () {
                //关闭查询窗口
                $(".userGYSWindow").layout('collapse','north');
                searchWindowState = false;
            });

            //========把表单中的数据变成json数据格式
            $.fn.serializeObject = function()
            {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name]) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };
            //给查询窗口的 查询按钮绑定点击事件
            $("#searchUserGYS").click(function () {
                //得到表单中输入的查询条件的json数据
                var searchData = $("#searchUserGYSForm").serializeObject();
                //根据条件重新加载供应商数据
                $("#userGYSList").datagrid('load',{
                    mc : searchData.mc,
                    yzbm : searchData.yzbm,
                    lxr : searchData.lxr,
                    dh : searchData.dh,
                    frmc : searchData.frmc,
                    proId : searchData.proId,
                    cityId : searchData.cityId,
                    areaId : searchData.areaId
                });
            });
        });

        //自定义输入电话的验证
        $.extend($.fn.validatebox.defaults.rules, {
            minLength: {
                validator: function(value, param){
                    if (value.length == param){
                        return true;
                    } else {
                        return false;
                    }
                },
                message: '请输入合法数据!'
            }
        });

        //提示信息
        function showMsg(result){
            $.messager.show({
               title : '提示信息',
               msg : result,
               timeout : 4000
            });
        }
        var globalErrorMsg = "系统繁忙，请稍后重试........";
        var searchWindowState = false;
        //================业务方法================
        var userGYSWindow ="";
        //添加供应商
        function addUserGYS(){
            userGYSWindow = "add";
            //打开添加窗口
            $("#addUserGYSWindow").dialog('open');
            //清除表单数据
            $("#addUserGYSForm").form('clear');


        }
        //删除供应商
        function deleteUserGYS(){
            // alert("delete");
            //得到选择要删除的供应商信息
            var rows = $("#userGYSList").datagrid('getSelections');
            //判断是否有选择要删除的供应商信息
            if (rows == 0){
                showMsg('请选择要删除的供应商信息!');
                return ;
            }
           //提示用户是否要删除选择供应商的信息
            $.messager.confirm("信息提示","确定要删除选择的供应商信息吗？",function (f) {
               if (!f){
                   return ;
               } else {
                   //得到选择的供应商id
                   var arrs = new Array();
                   for (var i = 0;i<rows.length;i++){
                       arrs.push(rows[i].id);
                   }
                   var id = arrs.join(',');
                   // alert("id:"+id);
                   //发送ajax请求删除数据
                   $.ajax({
                      url : '/sys/usergys_delete',
                      type : 'delete',
                      dataType : 'text',
                       data : "id="+id,
                       success : function (result) {
                          //提示成功信息
                          showMsg(result);
                          //刷新页面数据
                           $("#userGYSList").datagrid('reload');
                           //清除选择的行
                           $("#userGYSList").datagrid('clearSelections');

                       },
                       error : function () {
                           $.messager.alert("提示信息",globalErrorMsg,'info');
                       }
                   });
               }
            });
        }

        //修改供应商信息
        function editUserGYS(){
            userGYSWindow = "edit";
            //得到选择要修改的供应商信息
            var rows = $("#userGYSList").datagrid('getSelections');
            //判断是否选择一条数据进行修改
            if (rows.length != 1){
               showMsg("请选择一条供应商信息进行修改!");
               return ;
            }
            //打开修改窗口
            $("#editUserGYSWindow").dialog('open');
            //加载城市和区域的信息列表
            var proId = rows[0].proId;
            var cityId = rows[0].cityId;
            if (!proId){
                proId = 0;
            }
            if (!cityId){
                cityId = 0;
            }
            $(".citys").combobox('reload','/sys/citys/'+proId);
            $(".areas").combobox('reload','/sys/areas/'+cityId);
            //回显数据
            $("#editUserGYSForm").form('load',rows[0]);

        }

        //查询供应商信息
        function searchUserGYS(){
            //判断查询窗口是否已经打开
            if (searchWindowState){
               return;
            }
            searchWindowState = true;
            //打开查询窗口
            $(".userGYSWindow").layout('expand','north');
            //清空表单
            $("#searchUserGYSForm").form('clear');

        }


    </script>
</head>
<body class="easyui-layout userGYSWindow">

<!--查询条件-->
<div region="north" shiro:hasPermission ="userGYS_search" title="供应商查询条件" split="true" iconCls="icon-search"  style="width:100px;height:130px;" collapsed="true">
    <form id="searchUserGYSForm" action="" method="post">
        <table>
            <tr>
                <td style="padding-left: 10px;">企业名称名称：</td>
                <td >
                    <input type="text" name="mc" style="height: 28px;"/>
                </td>
                <td style="padding-left: 10px;">邮政编码：</td>
                <td>
                    <input type="text" name="yzbm"  style="height: 28px;"/>
                </td>
                <td style="padding-left: 10px;">企业联系人：</td>
                <td>
                    <input type="text" name="lxr"  style="height: 28px;"/>
                </td>
                <td style="padding-left:10px;" class="easyui-numberbox">企业联系电话：</td>
                <td>
                    <input name="dh" style="height: 28px;"  />
                </td>

                <td style="padding-left: 10px;">
                    <a href="#" id="clearSearch" class="easyui-linkbutton" iconCls="icon-no">清空查询条件</a>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 10px;" >法人名称：</td>
                <td>
                    <input name="frmc" style="height: 28px;"  />
                </td>
                <td style="padding-left: 10px;">省:</td>
                <td>
                    <input   name="proId" style="width: 146px;" editable="false"  type="text" class="easyui-validatebox easyui-combobox provinces"/>
                </td>
                <td style="padding-left: 10px;">市:</td>
                <td>
                    <input name="cityId" style="width: 146px;" editable="false" type="text" class="easyui-validatebox easyui-combobox  citys" valueField="cityId" textField="cityName"/>
                </td>
                <td style="padding-left: 10px;">区/县:</td>
                <td>
                    <input name="areaId" style="width: 146px;" editable="false"  type="text" class="easyui-validatebox easyui-combobox areas"  valueField="areaId" textField="areaName"/>
                </td>

                <td style="padding-left: 10px;">
                    <!--添加查询条件-->
                    <a href="#" id="searchUserGYS" class="easyui-linkbutton " iconCls="icon-search">查询</a>
                    <a href="#" id="cancelSearch" class="easyui-linkbutton" iconCls="icon-no">取消</a>
                </td>
            </tr>
        </table>
    </form>

</div>

<!--内容主体-->
<div region="center" style="padding:5px;background:#eee;">
    <div style="width: 100%;height: 31px;background: #efefef;padding-top: 6px;">
        <a shiro:hasPermission ="userGYS_add" id="btn1" href="#" class="easyui-linkbutton" onclick="addUserGYS()" iconCls="icon-add">添加供应商信息</a>
        <a shiro:hasPermission ="userGYS_delete" id="btn2" href="#" class="easyui-linkbutton" onclick="deleteUserGYS()" iconCls="icon-cancel">删除供应商信息</a>
        <a shiro:hasPermission ="userGYS_update" id="btn3" href="#" class="easyui-linkbutton" onclick="editUserGYS()" iconCls="icon-edit">修改供应商信息</a>
        <a shiro:hasPermission ="userGYS_search" id="btn4" href="#" class="easyui-linkbutton" onclick="searchUserGYS()" iconCls="icon-search">查询供应商信息</a>
    </div>
    <table id="userGYSList" ></table>

    <!--添加供应商信息 -->
    <div id="addUserGYSWindow" modal=true title="添加供应商信息" class="easyui-dialog" closed="true" style="width: 650px; height: 750px;background-color: #efefef" >
        <form  id="addUserGYSForm" action="" method="post">
            <div class="formbody">
                <div class="formtitle"><span>供应商基本信息</span></div>
                <ul class="forminfo">
                    <li><label>供应商名称</label><input name="mc" type="text" class="easyui-validatebox dfinput" required="true" missingMessage="企业名称必填!" ></i></li>
                    <li><label>企业联系人</label><input  name="lxr" type="text" class=" dfinput"/></li>
                    <li><label>企业联系电话</label><input  name="dh" type="text" class="easyui-numberbox dfinput" validType="minLength[11]"/></li>
                    <li><label>法人名称</label><input  name="frmc" type="text" class=" dfinput easyui-validatebox" required="true" missingMessage="法人名称必填!"/></li>
                    <li><label>法人身份证</label><input  name="frsfz" type="text" class="easyui-numberbox dfinput easyui-validatebox" validType="minLength[18]" required="true"   missingMessage="法人身份证必填!"/></li>
                    <li><label>企业注册资金</label><input  name="zczj" type="text" class="easyui-numberbox dfinput"/></li>

                    <li><label>邮政编码</label><input name="yzbm" type="text" class="easyui-numberbox easyui-validatebox  dfinput" validType="minLength[6]"/></li>
                    <li><label>联系地址企业</label></li>
                    <li>省:<input   name="proId" editable="false"  type="text" class="easyui-validatebox easyui-combobox provinces" />
                        市:<input name="cityId" editable="false" type="text" class="easyui-validatebox easyui-combobox  citys" valueField="cityId" textField="cityName"/>
                        区/县:<input name="areaId" editable="false"  type="text" class="easyui-validatebox easyui-combobox areas"  valueField="areaId" textField="areaName"/>
                    </li>
                    <li>
                        具体街道:<input name="lxdz"   type="text" class="easyui-validatebox dfinput" required="true" missingMessage="请填写具体的联系地址!" style="height: 34px;" />
                    </li>

                    <li><label>公司简介</label></li>
                    <li><textarea name="jj" style="width: 409px;height: 50px;"></textarea></li>
                    <li><label>&nbsp;</label>
                        <input  type="button" class="btn saveUserGYS" value="确认保存"/>
                        <input type="button" class="btn cancelUserGYS" value="取消"/>
                    </li>
                </ul>
            </div>
        </form>
    </div>

    <!--修改供应商信息 -->
    <div id="editUserGYSWindow" modal=true title="修改供应商信息" class="easyui-dialog" closed="true" style="width: 650px; height: 750px;background-color: #efefef" >
        <form  id="editUserGYSForm" action="" method="post">
            <input type="hidden" name="id"/>
            <div class="formbody">
                <div class="formtitle"><span>供应商基本信息</span></div>
                <ul class="forminfo">
                    <li><label>供应商名称</label><input name="mc" type="text" class="easyui-validatebox dfinput" required="true" missingMessage="企业名称必填!" ></i></li>
                    <li><label>企业联系人</label><input  name="lxr" type="text" class=" dfinput"/></li>
                    <li><label>企业联系电话</label><input  name="dh" type="text" class="easyui-numberbox dfinput" validType="minLength[11]"/></li>
                    <li><label>法人名称</label><input  name="frmc" type="text" class=" dfinput easyui-validatebox" required="true" missingMessage="法人名称必填!"/></li>
                    <li><label>法人身份证</label><input  name="frsfz" type="text" class="easyui-numberbox dfinput easyui-validatebox" validType="minLength[18]" required="true"   missingMessage="法人身份证必填!"/></li>
                    <li><label>企业注册资金</label><input  name="zczj" type="text" class="easyui-numberbox dfinput"/></li>

                    <li><label>邮政编码</label><input name="yzbm" type="text" class="easyui-numberbox easyui-validatebox  dfinput" validType="minLength[6]"/></li>
                    <li><label>联系地址企业</label></li>
                    <li>省:<input  id="editProvinces" name="proId" editable="false"  type="text" class="easyui-validatebox easyui-combobox provinces" />
                        市:<input id="editCitys" name="cityId" editable="false" type="text" class="easyui-validatebox easyui-combobox  citys" valueField="cityId" textField="cityName"/>
                        区/县:<input id="editAreas" name="areaId" editable="false"  type="text" class="easyui-validatebox easyui-combobox areas"  valueField="areaId" textField="areaName"/>
                    </li>
                    <li>
                        具体街道:<input name="lxdz"   type="text" class="easyui-validatebox dfinput" required="true" missingMessage="请填写具体的联系地址!" style="height: 34px;" />
                    </li>

                    <li><label>公司简介</label></li>
                    <li><textarea name="jj" style="width: 409px;height: 50px;"></textarea></li>
                    <li><label>&nbsp;</label>
                        <input  type="button" class="btn saveUserGYS" value="确认保存"/>
                        <input type="button" class="btn cancelUserGYS" value="取消"/>
                    </li>
                </ul>
            </div>
        </form>
    </div>

</div>

</body>
</html>