<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>采购单维护页面</title>
    <!--link标签一定要有rel="stylesheet"属性，否则无法加载到css样式-->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/js/jquery-easyui-1.2.6/themes/icon.css}"/>
    <link rel="stylesheet" th:href="@{/js/jquery-easyui-1.2.6/themes/default/easyui.css}"/>
    <!--引入easy-ui开发所需的js和css-->

    <!--jquery-1.7.2.min.js和jquery.easyui.min.js和easyui-lang-zh_CN.js这三个js文件有严格的先后顺序,不能交换位置,否则无法正常显示-->
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/jquery-1.7.2.min.js}"></script>

    <!--jquery.easyui.min.js文件一定要在jquery-1.7.2.min.js下,否则报错-->
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/jquery.easyui.min.js}"></script>

    <!--easyui-lang-zh_CN.js该js文件一定要在query.easyui.min.js下面，否则提示框无法正常显示中文-->
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/serializFormToJSON.js}"></script>

    <script type="text/javascript" th:inline="none">

        var columns = [[{
            checkbox : true
        },{
            field : 'bm',
            title : '采购单编号',
            width : 150,
            align : 'center'
        },{
            field : 'zt',
            title : '审核状态',
            width : 120,
            align : 'center',
            formatter : function (value,row,index) {
                return "<font style='color:#6b2090'>待审核</font>";
            }
        },{
            field : 'mc',
            title : '采购单名称',
            width : 220
        },{
            field : 'lxr',
            title : '联系人',
            width : 120,
            align : 'center'
        },{
            field : 'lxdh',
            title : '联系电话',
            width : 130,
            align : 'center'
        },{
            field : 'cjr',
            title : '建单人',
            width :120,
            align : 'center'
        },{
            title : '建单时间',
            field : 'cjtime',
            width : 180,
            align : 'center'

        }, {
            field: 'bz',
            title: '备注/说明',
            width: 220,
            align: 'center'
        },{
            field : 'id',
            title : '操作',
            width : 120,
            align : 'center',
            formatter : function (value,row,index) {
                if (value){
                    return "<a shiro:hasPermission='jdcgdcontrol_control' href='/cgd/yycgdcontrol?id="+row.id+"' style='color: green'>审核</a>";
                }
            }
        } ]];

        $(function () {
            //加载采购单列表信息
            $("#cgdList").datagrid({
                idField : 'id',
                url : '/cgd/jdcgdcontrols',
                method : 'get',
                striped : true,
                rownumbers : true,
                pagination : true,
                pageList : [20,30,40],
                columns : columns
            });
//////////////////////////////////////////
        });

        //=====================采购单维护业务方法=====
        var searchCgdWindowState = false;

        //查询采购单
        function doSearchCgd(){
            //得到查询表单中的数据
            var data = $("#searchCgdForm").serializeObject();
            //查询采购单
            $("#cgdList").datagrid('reload',{
                bm : data.bm,
                lxr : data.lxr,
                cjr : data.cjr,
                startCjtime : data.startCjtime,
                endCjtime : data.endCjtime,
                zt : data.zt
            });
        }

        //采购单审核
        function    docgdControl(){
            //得到选择要审核的采购单
            var rows = $("#cgdList").datagrid('getSelections');
            if (rows.length != 1){
                showMsg("请选择一条采购单进行审核");
                return;
            }
            //跳转到采购单审核页面
            window.location.href = '/cgd/yycgdcontrol?id='+rows[0].id;

        }

        function  cgdSearch() {
            if (searchCgdWindowState){
                return;
            }
            //打开查询面板
            $("#cgdWindow").layout('expand','north');
            clearSearchCgdForm();
            searchCgdWindowState = true;
        }
        //清空 查询面板中的信息
        function clearSearchCgdForm(){
            $("#searchCgdForm").form('clear');
        }
        //关闭查询面板
        function cancelSearchCgd(){
            $("#cgdWindow").layout('collapse','north');
            searchCgdWindowState = false;
        }
        //错误提示
        function showError(){
            $.messager.alert("系统提示","系统繁忙，请稍后重试.....",'info');
        }
        //显示信息提示
        function showMsg(result){
            $.messager.show({
                title : '信息提示',
                msg : result,
                timeout : 4000
            });
        }
    </script>

</head>
<body id="cgdWindow" class="easyui-layout">

<!--查询面板-->
<div region="north" shiro:hasPermission="jdcgdcontrol_search"  title="采购单查询条件" split="true" iconCls="icon-search"  style="width:100px;height:135px;padding-top: 10px" collapsed="true">
    <form id="searchCgdForm" action="" method="post">
        <table>
            <tr>
                <td style="padding-left: 10px;">采购单编号：</td>
                <td style="padding-left: 5px;">
                    <input type="text" name="bm"  style="width:200px;height: 28px;"/>
                </td>
                <td style="padding-left: 10px;">联系人：</td>
                <td>
                    <input type="text" name="lxr"  style="height: 28px;"/>
                </td>
                <td style="padding-left: 10px;">
                    <a href="#" onclick="clearSearchCgdForm()" class="easyui-linkbutton" iconCls="icon-no">清空查询条件</a>
                </td>

            </tr>
            <tr>
                <td style="padding-left: 10px;">建单时间：</td>
                <td style="padding-left: 5px;">
                    <input type="text" class="easyui-datetimebox" editable="false" name="startCjtime" style="height: 28px;width: 90px;"/>至
                    <input type="text" class="easyui-datetimebox" editable="false"  name="endCjtime" style="height: 28px;width: 90px;"/>
                </td>
                <td style="padding-left:75px;">建单人：</td>
                <td>
                    <input type="text" name="cjr"  style="height: 28px;"/>
                </td>

                <td style="padding-left: 10px;">
                    <!--添加查询条件-->
                    <a href="#" onclick="doSearchCgd()" class="easyui-linkbutton " iconCls="icon-search">查询</a>
                    <a href="#" onclick="cancelSearchCgd()" class="easyui-linkbutton" iconCls="icon-no">取消</a>
                </td>
            </tr>
        </table>
    </form>
</div>

<div region="center" style="padding:5px;background:#eee;">
    <div style="padding-top: 10px;width: 100%;height: 32px;background: #efefef;">
        <a   href="#" shiro:hasPermission="jdcgdcontrol_control" class="easyui-linkbutton" onclick="docgdControl()"  iconCls="icon-sum">采购单审核</a>
        <a href="#" shiro:hasPermission="jdcgdcontrol_search" class="easyui-linkbutton" onclick="cgdSearch()" iconCls="icon-search">采购单查询</a>
    </div>
    <!--显示采购单列表-->
    <table id="cgdList"></table>
</div>

<!--修改采购单页面-->


</body>
</html>