<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>结算单支付页面</title>
    <!--link标签一定要有rel="stylesheet"属性，否则无法加载到css样式-->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/js/jquery-easyui-1.2.6/themes/icon.css}"/>
    <link rel="stylesheet" th:href="@{/js/jquery-easyui-1.2.6/themes/default/easyui.css}"/>
    <!--引入easy-ui开发所需的js和css-->

    <!--jquery-1.7.2.min.js和jquery.easyui.min.js和easyui-lang-zh_CN.js这三个js文件有严格的先后顺序,不能交换位置,否则无法正常显示-->
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/jquery-1.7.2.min.js}"></script>

    <!--jquery.easyui.min.js文件一定要在jquery-1.7.2.min.js下,否则报错-->
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/jquery.easyui.min.js}"></script>

    <!--easyui-lang-zh_CN.js该js文件一定要在query.easyui.min.js下面，否则提示框无法正常显示中文-->
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/serializFormToJSON.js}"></script>

    <script type="text/javascript" th:inline="none">
        //定义采购单列表单元字段
        var columns = [[{
            checkbox : true
        },{
            field : 'bm',
            title : '结算单编号',
            width : 150,
            align : 'center'
        },{
            field : 'mc',
            title : '结算单名称',
            width : 220
        },{
            field : 'lxr',
            title : '联系人',
            width : 120,
            align : 'center'
        },{
            field : 'lxdh',
            title : '联系电话',
            width : 130,
            align : 'center'
        },{
            field : 'cjr',
            title : '建单人',
            width :120,
            align : 'center'
        },{
            title : '建单时间',
            field : 'cjtime',
            width : 180,
            align : 'center'

        },{
            field : 'zt',
            title : '结算单状态',
            width : 120,
            align : 'center',
            formatter : function (value,row,index) {

                if (value =="1") {
                    return '<font style="color :orange">未提交</font>';
                }
                if (value =="2") {
                    return '<font style="color :blueviolet">待受理</font>';
                }
                if (value =="3") {
                    return '<font style="color :red">受理不通过</font>';
                }
                if (value =="4") {
                    return '<font style="color :#0052d1">待结算</font>';
                }
                if (value =="5") {
                    return '<font style="color :green">已结算</font>';
                }

            }
        }, {
            field: 'bz',
            title: '备注/说明',
            width: 220,
            align: 'center'
        },{
            field : 'id',
            title : '操作',
            width : 120,
            align : 'center',
            formatter : function (value,row,index) {
                if (value){
                    return "<a href='/jsd/jsdzfPage?yyjsdid="+row.id+"' style='color: green'>结算支付</a>";
                }
            }
        } ]];

        $(function () {
            //加载要受理结算单
            $("#jsdacceptList").datagrid({
                idField : 'id',
                url : '/jsd/jsdzflist',
                method : 'get',
                striped : true,
                rownumbers : true,
                pagination : true,
                pageList : [20,30,40],
                columns : columns
            });

            var l = window.location.href;

            if (l.indexOf("?")!=-1){
                showMsg("<font style='color: green'>结算单支付成功！</font>");
            }
        });
        //============================================
        var jsdAcceptWindowState = false;
        //结算单查询
        function jsdAcceptSearch(){
            if (jsdAcceptWindowState){
                return;
            }
            //打开结算单查询页面
            $("#jsdAcceptWindow").layout('expand','north');
            jsdAcceptWindowState = true;

            clearJsdAccept();
        }
        //清空表单中的数据
        function clearJsdAccept(){
            $("#jsdAcceptSearchForm").form('clear');
        }
        //取消查询
        function cancelSearchJsd_accept(){
            $("#jsdAcceptWindow").layout('collapse','north');
            jsdAcceptWindowState = false;
        }
        //查询结算单
        function doSearchJsd_accept(){
            //得到表单中的的数据
            var data = $("#jsdAcceptSearchForm").serializeObject();
            //查询采购单
            $("#jsdacceptList").datagrid('reload',{
                bm : data.bm,
                lxr : data.lxr,
                cjr : data.cjr,
                startCjtime : data.startCjtime,
                endCjtime : data.endCjtime,
                zt : data.zt
            });
        }

        //结算单支付
        function  jsdzf(){
            //得到选的的行
            var rows = $("#jsdacceptList").datagrid('getSelections');
            if (rows.length != 1){
                showMsg("请选择一条结算单进行结算");
                return ;
            }
            //跳转到结算单支付查看页面
            window.location.href = '/jsd/jsdzfPage?yyjsdid='+rows[0].id;

        }
        //提示信息
        function showMsg(msg){
            $.messager.show({
                title : '信息提示',
                msg : msg,
                timeout : 4000
            })
        }
    </script>

</head>
<body id="jsdAcceptWindow" class="easyui-layout">

<!--查询面板-->
<div region="north" shiro:hasPermission="yyjsdzf_search"  title="结算单查询条件" split="true" iconCls="icon-search"  style="width:100px;height:135px;padding-top: 10px" collapsed="true">
    <form id="jsdAcceptSearchForm" action="" method="post">
        <table>
            <tr>
                <td style="padding-left: 10px;">结算单编号：</td>
                <td style="padding-left: 5px;">
                    <input type="text" name="bm"  style="width:200px;height: 28px;"/>
                </td>
                <td style="padding-left: 10px;">联系人：</td>
                <td>
                    <input type="text" name="lxr"  style="height: 28px;"/>
                </td>
                <td style="padding-left:75px;">建单人：</td>
                <td>
                    <input type="text" name="cjr"  style="height: 28px;"/>
                </td>

            </tr>
            <tr>
                <td style="padding-left: 10px;">建单时间：</td>
                <td style="padding-left: 5px;">
                    <input type="text" class="easyui-datetimebox" editable="false" name="startCjtime" style="height: 28px;width: 90px;"/>至
                    <input type="text" class="easyui-datetimebox" editable="false"  name="endCjtime" style="height: 28px;width: 90px;"/>
                </td>
                <td style="padding-left: 10px;">结算单状态:</td>
                <td>
                    <input   name="zt" style="width: 146px;" editable="false"  url="/sys/dictTypes?code=014" valueField="dictcode" textField="info" type="text" class="easyui-validatebox easyui-combobox "/>
                </td>
                <td style="padding-left: 10px;">
                    <a href="#" onclick="clearJsdAccept()" class="easyui-linkbutton" iconCls="icon-no">清空查询条件</a>
                </td>
                <td style="padding-left: 10px;">
                    <!--添加查询条件-->
                    <a href="#" onclick="doSearchJsd_accept()" class="easyui-linkbutton " iconCls="icon-search">查询</a>
                    <a href="#" onclick="cancelSearchJsd_accept()" class="easyui-linkbutton" iconCls="icon-no">取消</a>
                </td>
            </tr>
        </table>
    </form>
</div>

<div region="center" style="padding:5px;background:#eee;">
    <div style="padding-top: 10px;width: 100%;height: 32px;background: #efefef;">
        <a  shiro:hasPermission="yyjsdzf_pay"  href="#" class="easyui-linkbutton" onclick="jsdzf()" iconCls="icon-sum">结算单支付</a>
        <a  shiro:hasPermission="yyjsdzf_search"  href="#" class="easyui-linkbutton" onclick="jsdAcceptSearch()" iconCls="icon-search">结算单查询</a>
    </div>
    <!--加载要受理的结算单-->
    <table id="jsdacceptList"></table>
</div>
</body>
</html>